:root{
    --Green: hsl(153, 72%, 41%);
    --Red: hsl(356, 69%, 56%);
    --Facebook: hsl(195, 100%, 50%);
    --Twitter: hsl(203, 89%, 53%);
    --Youtube: hsl(348, 97%, 39%);
    --Instagram: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));

    /*Tema Light*/
    --bglight: hsl(0, 0%, 100%);
    --bglighttop: hsl(225, 100%, 98%);
    --bglightcard: hsl(227, 47%, 96%);
    --bglightcardhover: hsl(227, 32%, 86%);
    --colordark: hsl(230, 17%, 14%);
    --colordarklight: hsl(228, 12%, 44%);
    /*Tema Dark*/
    --btndark: hsl(230, 22%, 74%);
}
/*Vai funcionar quando o body tiver uma classe dark*/
body.dark{
    --btndark: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
    --colordark: hsl(0, 0%, 100%);
    --colordarklight: hsl(228, 34%, 66%);
    --bglightcard: hsl(228, 28%, 20%);
    --bglightcardhover: hsl(228, 26%, 26%);
    --bglight: hsl(230, 17%, 14%);
    --bglighttop: hsl(232, 19%, 15%);
}
*{
    /*Remover margem padrão*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    background: var(--bglighttop);
}
body .container{
    width: 80%;
    margin: 0 auto;
}
